<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wzxlq.dao.StudentMapper">

    <resultMap type="com.wzxlq.entity.Student" id="StudentMap">
        <result property="stuno" column="stuNo" jdbcType="INTEGER"/>
        <result property="stuname" column="stuName" jdbcType="VARCHAR"/>
        <result property="stuage" column="stuAge" jdbcType="INTEGER"/>
        <result property="graname" column="graName" jdbcType="VARCHAR"/>
        <result property="stusex" column="stusex" jdbcType="INTEGER"/>
        <result property="cardid" column="cardid" jdbcType="INTEGER"/>
        <result property="classid" column="classid" jdbcType="INTEGER"/>
    </resultMap>

    <!--分页查询后执行，获取总记录数-->
    <select id="queryCountAfterLimit" resultType="Integer">
      SELECT FOUND_ROWS()
    </select>
    
    <!--查询单个-->
    <select id="queryById" parameterType="Integer" resultMap="StudentMap">
        select
          stuNo, stuName, stuAge, graName, stusex, cardid, classid
        from person.student
        where stuNo = #{stuno}
    </select>

    <!--查询指定行数据（分页）-->
    <select id="queryAllByLimit" resultMap="StudentMap">
        select
           SQL_CALC_FOUND_ROWS stuNo, stuName, stuAge, graName, stusex, cardid, classid
        from person.student
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" parameterType="Student" resultMap="StudentMap">
        select
          stuNo, stuName, stuAge, graName, stusex, cardid, classid
        from person.student
        <where>
            <if test="stuno != null">
                and stuNo = #{stuno}
            </if>
            <if test="stuname != null and stuname != ''">
                and stuName = #{stuname}
            </if>
            <if test="stuage != null">
                and stuAge = #{stuage}
            </if>
            <if test="graname != null and graname != ''">
                and graName = #{graname}
            </if>
            <if test="stusex != null">
                and stusex = #{stusex}
            </if>
            <if test="cardid != null">
                and cardid = #{cardid}
            </if>
            <if test="classid != null">
                and classid = #{classid}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" parameterType="Student" keyColumn="stuno" keyProperty="stuno" useGeneratedKeys="true">
        insert into person.student(stuName, stuAge, graName, stusex, cardid, classid)
        values (#{stuname}, #{stuage}, #{graname}, #{stusex}, #{cardid}, #{classid})
    </insert>

    <!--通过主键修改数据-->
    <update id="update" parameterType="Student" keyColumn="stuno" keyProperty="stuno" useGeneratedKeys="true">
        update person.student
        <set>
            <if test="stuname != null and stuname != ''">
                stuName = #{stuname},
            </if>
            <if test="stuage != null">
                stuAge = #{stuage},
            </if>
            <if test="graname != null and graname != ''">
                graName = #{graname},
            </if>
            <if test="stusex != null">
                stusex = #{stusex},
            </if>
            <if test="cardid != null">
                cardid = #{cardid},
            </if>
            <if test="classid != null">
                classid = #{classid},
            </if>
        </set>
        where stuNo = #{stuno}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById" parameterType="Integer">
        delete from person.student where stuNo = #{stuno}
    </delete>

</mapper>